.principe {
    padding-bottom: 50px;
    &__wrapper {
        margin-top: 35px;
    }
    .divider {
        margin-top: 50px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__descr {
        width: 53%;
    }
    &__items {
        gap: 15px;
        display: flex;
        flex-direction: column;
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 11px;
            border-bottom: 1px solid var(--color-gray-150);
        }
    }
    .h2 {
        width: 34%;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    li {
        padding-left: 15px;
        position: relative;
        &::before {
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: var(--color-gray-400);
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: 7px;
        }
    }
}