.purpose {
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        align-items: center;
    }
    &__image {
        width: 50%;
    }
    &__info {
        width: calc(50% - 136px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 58px 0;
    }
    .descr {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &.nogap {
            gap: 0;
        }
        h4 {
            margin-bottom: 10px;
        }
        &-item {
            li {
                padding-left: 15px;
                position: relative;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background-color: var(--color-gray-400);
                    border-radius: 100%;
                    position: absolute;
                    left: 0;
                    top: 6px;
                }
            }
        }
    }
}